.myPatientForm {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
}

.patientTable {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
}


th, td {
  border: 1px solid black;
  padding: 1px;
  align-items: center;
}